/* General Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Form fields */
input, .btn, .btn-block {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 1.7em;
  font-size: 1em;
  transition: all 0.1s ease-in-out;
}
input:active, input:focus {
  outline: none !important;
  border: 1px solid #428ee6;;
  box-shadow: 0 0 3px #004d9a;
}
label {
  font-weight: bold;
}

/* Button Types */
.btn-block {
  display: block;
  width: 100%;
  color: #fff;
  border-radius: 0;
}
.btn {
  color: #fff;
}
.btn.btn-success {
  background-color: #00bb00;
  border-color: #00a900;
}
.btn.btn-success:hover {
  background-color: #00a800;
}
.btn-blue {
  background-color: #0275d8;
}
.btn-pink {
  background-color: #e91e63;
}
.btn-teal {
  background-color: #009688;
}
.btn-orange {
  background-color: #ff9800;
}
/* header */
header {
  max-width: 960px;
  margin: 0 auto;
  height: 140px;
  background-size: cover;
  background-image: url(../images/gym-tracker-header.jpg);
  background-repeat: no-repeat;
  padding: 0;
}
header h1 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  line-height: 140px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #000;
  margin: 0;
}

/* main */
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start Page */
#login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#login-form input, #login-form .btn {
  width: 100%
}
#login-form input, #login-form .btn {
  margin-top: 8px;
}

/* Select training session form */
.heading-select-session {
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
}
#select-training-session-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#select-training-session-form .btn-block {
  margin: 0 0 5px;
  text-align: left;
  position: relative;
  height: 45px;
}
#select-training-session-form .btn-block > i {
  display: inline-block;
  width: 20px;
  margin: 0 5px;
  text-align: center;
}
#select-training-session-form .btn-block span {
  position: absolute;
  right: 10px;
}