/* General Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts */
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
}

/* Generic Styles */
.text-center {
  text-align: center;
}

/* Form fields */
input, .btn, .btn-block {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 1.7em;
  font-size: 1em;
  transition: all 0.1s ease-in-out;
}
input:active, input:focus {
  outline: none !important;
  border: 1px solid #428ee6;;
  box-shadow: 0 0 3px #004d9a;
}
label {
  font-weight: bold;
}

/* Button Types */
button:hover {
  cursor: pointer;
}
.btn-block {
  display: block;
  width: 100%;
  color: #fff;
  border-radius: 0;
  border: none;
}
.btn {
  color: #fff;
}
.btn-big-round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: none;
  display: block;
  margin: 0 auto;
}
.btn-small {
  font-size: 0.8em;
}
.btn.btn-green {
  background-color: #00bb00;
  border-color: #00a900;
}
.btn.btn-green:hover {
  background-color: #00a800;
}
.btn-blue {
  background-color: #0275d8;
}
.btn-pink {
  background-color: #e91e63;
}
.btn-teal {
  background-color: #009688;
}
.btn-orange {
  background-color: #ff9800;
}
.btn-grey {
  background-color: #607d8b;
}
.btn-aqua {
  background-color: #5bc0de;
  border-color: #2E9ADE;
}
/* header */
header {
  margin: 0 auto;
  height: 140px;
  background-size: cover;
  background-image: url(../images/gym-tracker-header.jpg);
  background-repeat: no-repeat;
  padding: 0;
}
header h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  line-height: 140px;
  color: #1ed0dc;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #000;
  margin: 0;
}

/* main */
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px 50px;
  position: relative;
}
main > section {
  padding-top: 70px;
}

/* Start Page */
#login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#login-form input, #login-form .btn {
  width: 100%
}
#login-form input, #login-form .btn {
  margin-top: 8px;
}
.section-intro-text {
  margin-top: 30px;
  padding: 20px 0 0;
}
.section-intro-text h2 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
}

/* Select training session form */
.heading-select-session {
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
}
#select-training-session-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#select-training-session-form .btn-block {
  margin: 0 0 5px;
  text-align: left;
  position: relative;
  height: 45px;
}
#select-training-session-form .btn-block > i {
  display: inline-block;
  width: 20px;
  margin: 0 5px;
  text-align: center;
}
#select-training-session-form .btn-block span {
  position: absolute;
  right: 10px;
}

/* Training Session Page - general */
.training-session-type {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
}
.type-chest {
  background-color: #0275d8;
}
.type-arms {
  background-color: #e91e63;
}
.type-legs {
  background-color: #009688;
}
.type-back {
  background-color: #ff9800;
}
/* Training Session Page - No previous exercises */
.no-previous-data #add-exercise-button-form > p {
  text-align: center;
  margin: 15px 0 0;
}
.no-previous-data #add-exercise-button-form button {
  margin: 15px auto 0;
}
.no-previous-data #add-exercise-button-form .btn-big-round > i {
  line-height: 97px;
  font-size: 2.5em;
  font-weight: normal;
}
.no-previous-data #add-exercise-button-form button + label {
  font-weight: normal;
  text-align: center;
  display: block;
  margin: 10px 0 0;
}
.no-previous-data #add-exercise-input-form > p {
  text-align: center;
  margin: 15px 0;
}
.no-previous-data #add-exercise-input-form label {
  margin: 0 auto;
}
.no-previous-data #add-exercise-input-form label , .no-previous-data #add-exercise-input-form input, .no-previous-data #add-exercise-input-form button {
  width: 100%;
  max-width: 375px;
  display: block;
}
.no-previous-data #add-exercise-input-form input {
  margin: 3px auto 5px;
}
.no-previous-data #add-exercise-input-form button {
  margin: 0 auto;
  text-align: center;
}
.no-previous-data, .exercise-data {
  padding: 55px 0 0;
}
.exercise-data #change-session-form {
  float: left;
}
.exercise-data #add-exercise-button-form, .exercise-data #cancel-add-exercise-button-form {
  float: right;
}
.exercise-data #add-exercise-button-form button, .exercise-data #change-session-form button, .exercise-data #cancel-add-exercise-button-form button {
  width: 140px;
}
/*.exercise-data #exercises-form {*/
.exercise-data .exercise-list {
  margin: 50px auto 0;
}
.exercise-data #add-exercise-input-form {
  clear: both;
  padding-top: 15px;
}
.exercise-data #add-exercise-input-form label , .exercise-data #add-exercise-input-form input, .exercise-data #add-exercise-input-form button {
  width: 100%;
  max-width: 375px;
  display: block;
  margin: 0 auto 5px;
}
/*#exercises-form .exercise-list {*/
.exercise-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
}
/*#exercises-form .exercise-list li {*/
.exercise-list li {
  border-bottom: 1px dashed #022f5f;
  margin: 0 0 20px;
  padding: 0 0 20px;
  max-width: 400px;
}
/*#exercises-form .exercise-list h3 {*/
.exercise-list h3 {
  margin: 0;
  background-color: #e0e0e0;
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
}
/*#exercises-form .exercise-list .last-session-results {*/
.exercise-list .last-session-results {
  background-color: #03a9f4;
  color: #fff;
  font-size: 0.8em;
  padding: 8px;
  text-align: center;
  min-height: 50px;
}
/*#exercises-form .exercise-list .last-session-results p {*/
.exercise-list .last-session-results p {
  margin: 0;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}
/*#exercises-form .exercise-list .last-session-results p:first-of-type {*/
.exercise-list .last-session-results p:first-of-type {
  font-weight: bold;
}
/*#exercises-form .exercise-list .set-table {*/
.exercise-list .set-table {
  display: table;
  font-size: 0.8em;
  width: 100%;
  table-layout: fixed;
  margin: 0 0 10px;
}
/*#exercises-form .exercise-list .set-table .table-row {*/
.exercise-list .set-table .table-row {
  display: table-row;
}
/*#exercises-form .exercise-list .set-table .table-cell {*/
.exercise-list .set-table .table-cell {
  display: table-cell;
  text-align: center;
  padding: 8px 0;
  height: 31px;
  border-bottom: 1px solid #cecaca;
}
/*#exercises-form .exercise-list button {*/
.exercise-list button {
  display: block;
  width: 140px;
  margin: 0 auto;
}

/* Add Set Form controls */
.add-exercise-set .inline-form-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 776px;
  margin: 0 0 10px;
}
.add-exercise-set .inline-form-input > label {
  width: 25%;
  font-weight: normal;
  font-size: 0.9em;
}
.add-exercise-set .inline-form-input > input {
  width: 70%;
  font-size: 0.9em;
}
/*#exercises-form .exercise-list .add-exercise-set button {*/
.exercise-list .add-exercise-set button {
  max-width: 310px;
  width: 100%;
  margin: 0 auto 10px;
}

/* Sticky Footer */
.page-wrapper {
  min-height: calc(100vh - 92px);
}

/* Footer */
footer {
  background-color: #222;
  color: #eee;
  font-size: 0.8em;
  text-align: center;
  padding: 15px;
  height: 92px;
}
footer .footer-contents {
  max-width: 960px;
  height: 100%;
}
footer p {
  margin: 0;
  padding: 0 0 8px;
}
footer p a, footer p a:visited {
  text-decoration: none;
  color: #eee;
}