@media screen and (min-width: 480px) {
  header {
    height: 120px;
    background-image: url(../images/header-bg-480.jpg);
  }
  header h1 {
    line-height: 120px;
  }
}
@media screen and (min-width: 500px) {
  .exercise-data #add-exercise-button-form button, .exercise-data #change-session-form button, .exercise-data #cancel-add-exercise-button-form button {
    width: 200px;
  }
  .btn-small {
    font-size: 1em;
    line-height: 1em;
    height: 40px;
  }
}
@media screen and (min-width: 776px) {
  header {
    height: 195px;
    background-image: url(../images/header-bg-776.jpg);
  }
  header h1 {
    font-size: 7vw;
    /*font-size: 54px;*/
    line-height: 195px;
  }

  .section-intro-text {
    padding: 0;
    margin-bottom: 40px;
  }
  .section-intro-text h2 {
    font-size: 1.4em;
  }

  footer .footer-contents {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer p {
    padding: 0;
  }
  .exercise-list {
    width: 100%;
    max-width: 900px;
  }
  .exercise-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #eee;
  }
  .exercise-list h3 {
    width: 50%;
    text-align: left;
    font-size: 1.1em;
    padding: 14px;
  }
  .exercise-list .last-session-results {
    width: 50%;
    font-size: 0.9em;
    padding: 5px;
  }
  .exercise-list .set-table {
    width: 70%;
    margin-top: 10px;
    font-size: 1em;
  }
  .exercise-list button {
    width: 20%;
    margin: 10px auto;
  }
  .exercise-list li .add-exercise-set {
    width: 28%;
    margin: 10px auto 0;
  }
}

@media screen and (min-width: 960px) {
  .training-session-type {
    left: 20px;
    right: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 300px;
    background-image: url(../images/header-bg-992.jpg);
  }
  header h1 {
    line-height: 300px;
    font-size: 6vw;
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 300px;
    background-image: url(../images/header-bg-1200.jpg);
  }
  header h1 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1920px) {
  header {
    height: 350px;
    background-image: url(../images/header-bg-1920.jpg);
  }
  header h1 {
    line-height: 350px;
    font-size: 4vw;
  }
}